@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-auth {
    @apply bg-white h-full w-full p-4 text-black border-1 border-solid border-transparent 
    text-xl rounded-xl focus:border-purple-500;
  }

  .register-btn {
    @apply bg-cyan-800 text-2xl border-2 border-solid  text-white  
    w-full rounded-xl border-transparent outline-none p-4
    hover:bg-white hover:text-cyan-800 hover:border-2 hover:border-solid
    hover:border-cyan-800 transition-all duration-1000 ease-out;
  }

  .see-all-btn {
    @apply relative z-10 overflow-hidden transition-all duration-500 ease-in-out
    after:content-[""] after:absolute after:bottom-[0] after:left-[0] after:w-[0] after:h-full
    after:bg-[#111] hover:text-white  before:content-[""] before:absolute before:bottom-[0] before:left-[0] before:w-[0] before:h-full
    before:bg-[#111] before:transition-all before:duration-500 hover:before:w-full after:-z-20 before:-z-20   cursor-pointer rounded-sm border border-solid border-[#111] px-8 py-4 text-black text-2xl;
  }
}

@layer utilities {
  .border-1 {
    border-width: 1px;
  }
}
